html,
body {
  height: 100%;
}

body {
  @extend %dmsans-700;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.container-small {
  max-width: 1170px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.title {
  @extend %title;
}

.title-about-us {
  @extend %title-about-us;
}

.breadcrumbs {
  padding-bottom: 33px;
  padding-left: 20px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    padding-right: 20px;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      top: 0;
      right: 7px;
      color: #222933;
      opacity: 0.6;
      font-size: 14px;
      line-height: 24px;
      @extend %rubik-400;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #222933;
    opacity: 0.6;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  &__list {
    display: flex;
  }
  &__item + .pagination__item{
    padding-left: 15px;
  }
  &__link,
  &__next
  {
    padding: 15px 21px;
    color: $about-color;
    @extend %rubik-400;
    line-height: 30px;
    border: 1px solid #a3bbc8;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: #a3bbc8;
    }
  }
  &__link--active {
    color: #fff;
    background-color: #a3bbc8;
  }
  &__next {
    margin-left: 15px;
    padding: 9px 19px; 
  }
}
