html,
body {
  height: 100%;
}

body {
  @extend %dmsans-700;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.container-second {
  max-width: 1170px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.title {
  @extend %title;
}

.breadcrumbs {
  padding-bottom: 33px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &__item + &__item {
    margin-left: 17px;
  }
  &__item {
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      top: 0;
      left: 44px;
      color: #222933;
      opacity: 0.6;
      font-size: 14px;
      line-height: 24px;
      @extend %rubik-400;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #222933;
    opacity: 0.6;
  }
}
